@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/* Layout */
#game-container {
    height: auto;
    overflow: hidden;
}
#players-panel {
    width: 400px;
    float: right;
}
#cards-panel {
    width: auto;
    overflow: hidden;
    margin-right: 410px;
}

/* Cards */
.card {
    width: 80px;
    height: 112px;
    background-image: url(img/cards.png);
    background-position-x: -80px;
    background-position-y: -112px;
}
.card.air-strike {
    background-position-x: 0;
}
.card.artillery {
    background-position-x: -80px;
}
.card.heavy-weapons {
    background-position-x: -160px;
}
.card.infantry {
    background-position-x: -240px;
}
.card.paratroopers {
    background-position-x: -320px;
}
.card.special-forces {
    background-position-x: -400px;
}
.card.tank {
    background-position-x: -480px;
}
.card.hill {
    background-position-x: -560px;
    background-position-y: 0;
}
.card.back {
    background-position-x: -560px;
    background-position-y: 112px;
}
.player-color-04237b .card {
    background-position-y: 0;
}
.player-color-6f0f11 .card {
    background-position-y: -112px;
}

/* My Hand */
#my-hand .card {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}
