@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/* Layout */
#game-container {
    height: auto;
    overflow: hidden;
}
#players-panel {
    width: 352px;
    float: right;
}
#battlefield-panel {
    width: auto;
    overflow: hidden;
    margin-right: 362px;
}

/* Cards */
.card {
    width: 80px;
    height: 112px;
    background-image: url(img/cards.png);
    background-position: 80px 112px;
    background-repeat: no-repeat;
}
.card.air-strike {
    width: 112px;
    height: 80px;
}

.card.artillery.color-04237b {
    background-position: 0 0;
}
.card.heavy-weapons.color-04237b {
    background-position: -80px 0;
}
.card.infantry.color-04237b {
    background-position: -160px 0;
}
.card.paratroopers.color-04237b {
    background-position: -240px 0;
}
.card.special-forces.color-04237b {
    background-position: -320px 0;
}
.card.tank.color-04237b {
    background-position: -400px 0;
}
.card.air-strike.color-04237b {
    background-position: -480px 0;
}
.card.artillery.color-6f0f11 {
    background-position: 0 -112px;
}
.card.heavy-weapons.color-6f0f11 {
    background-position: -80px -112px;
}
.card.infantry.color-6f0f11 {
    background-position: -160px -112px;
}
.card.paratroopers.color-6f0f11 {
    background-position: -240px -112px;
}
.card.special-forces.color-6f0f11 {
    background-position: -320px -112px;
}
.card.tank.color-6f0f11 {
    background-position: -400px -112px;
}
.card.air-strike.color-6f0f11 {
    background-position: -480px -112px;
}

.card.hill {
    background-position: -592px 0;
}
.card.back {
    background-position: -592px -112px;
}

/* Hands */
.player-cards .air-strikes {
    text-align: center;
}
.player-cards .playable-card {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 4px;
}
.player-cards.current-player .hand-cards {
    margin-left: -4px;
}
.clickable .playable-card {
    cursor: pointer;
}
.player-cards.current-player .playable-card .selected-border {
    display: none;
    background-position: -672px -112px;
    position: absolute;
}
.player-cards.current-player .playable-card .selected-border.landscape-border {
    transform: rotate(-90deg) translateX(16px) translateY(-40px);
}
.clickable .playable-card.selected .selected-border {
    display: inline-block;
}
.player-cards.hidden-player .hand-cards .hand-card {
    margin-right: -44px;
}

/* Battlefield */
.battlefield-position {
    position: absolute;
    width: 80px;
    height: 112px;
}
.battlefield-position.clickable {
    cursor: pointer;
}
.battlefield-position .clickable-indicator {
    display: none;
    position: absolute;
    width: 80px;
    height: 112px;
    background-image: url(img/cards.png);
    background-position: -752px 0;
    background-repeat: no-repeat;
}
.battlefield-position.clickable .clickable-indicator {
    display: inline-block;
}
.state-choose-attack .battlefield-position.clickable .clickable-indicator {
    background-position: -672px 0;
}

/* Battlefield map */
#map_container {
    position: relative;
    width: 100%;
    height: 602px;
    overflow: hidden;
}
#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
    top: 205px;
    left:  315px;
}
#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}
#map_footer {
    text-align: center;
}
#movetop, #moveleft, #moveright, #movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}
#movetop {
    top: 0;
    left: 50%;
    background-position: 0 32px;
    margin-left:-16px;
}
#moveleft {
    top: 50%;
    left: 0;
    background-position: 32px 0;
    margin-top:-16px;
}
#moveright {
    top: 50%;
    right: 0;
    background-position: 0 0;
    margin-top:-16px;
}
#movedown {
    bottom: 0;
    left: 50%;
    background-position: 32px 32px;
    margin-left:-16px;
}
/* icons */
.deck-count-icon {
    display: inline-block;
    width: 26px;
    height: 25px;
    background-position: -752px -112px;
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
}