@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/* Layout */
#game-container {
    height: auto;
    overflow: hidden;
}
#players-panel {
    width: 100px;
    float: right;
}
#battlefield-panel {
    width: auto;
    overflow: hidden;
    margin-right: 110px;
}
#battlefield-panel.spectator-view {
    margin-right: 0;
}

/* Hands */
.player-cards .air-strikes {

}
.player-cards .playable-card {
    display: block;
    margin-bottom: 4px;
}
.clickable .playable-card {
    cursor: pointer;
}
.player-cards .playable-card .selected-border {
    display: none;
    background-position: -640px -112px;
    position: absolute;
}
.clickable .playable-card.selected .selected-border {
    display: inline-block;
}

/* Battlefield */
.battlefield-position {
    position: absolute;
    width: 80px;
    height: 112px;
}
.battlefield-position.clickable {
    cursor: pointer;
}
.battlefield-position .clickable-indicator {
    display: none;
    position: absolute;
    width: 80px;
    height: 112px;
    background-image: url(img/cards.png);
    background-size: 800px 240px;
    background-position: -720px 0px;
    background-repeat: no-repeat;
}
.battlefield-position.clickable .clickable-indicator {
    display: inline-block;
}
.state-choose-attack .battlefield-position.clickable .clickable-indicator {
    background-position: -640px 0px;
}

/* Battlefield map */
#map_container {
    position: relative;
    width: 100%;
    height: 602px;
    overflow: hidden;
}
#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
    top: 205px;
    left: 315px;
}
#map_surface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: move;
}
#map_footer {
    text-align: center;
}
#movetop, #moveleft, #moveright, #movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}
#movetop {
    top: 0;
    left: 50%;
    background-position: 0 32px;
    margin-left:-16px;
}
#moveleft {
    top: 50%;
    left: 0;
    background-position: 32px 0;
    margin-top:-16px;
}
#moveright {
    top: 50%;
    right: 0;
    background-position: 0 0;
    margin-top:-16px;
}
#movedown {
    bottom: 0;
    left: 50%;
    background-position: 32px 32px;
    margin-left:-16px;
}
/* icons */
.deck-count-icon {
    display: inline-block;
    width: 22px;
    height: 24px;
    background-position: 0 -448px;
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
}
.hand-count-icon {
    display: inline-block;
    width: 27px;
    height: 24px;
    background-position: -22px -448px;
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
}
#player_board_inner_3b550c .air-strike-count-icon {
    display: inline-block;
    width: 26px;
    height: 23px;
    background-position: -49px -448px;
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
}
#player_board_inner_04237b .air-strike-count-icon {
    display: inline-block;
    width: 26px;
    height: 23px;
    background-position: -75px -448px;
    background-image: url(img/cards.png);
    background-repeat: no-repeat;
}

/* Cards */
.card {
    width: 80px;
    height: 112px;
    background-image: url(img/cards.png);
    background-size: 800px 236px;
    background-position: 80px 112px;
    background-repeat: no-repeat;
}
.card.artillery.color-04237b {
    background-position: 0px 0px;
}
.card.heavy-weapons.color-04237b {
    background-position: -80px 0px;
}
.card.infantry.color-04237b {
    background-position: -160px 0px;
}
.card.paratroopers.color-04237b {
    background-position: -240px 0px;
}
.card.special-forces.color-04237b {
    background-position: -320px 0px;
}
.card.tank.color-04237b {
    background-position: -400px 0px;
}
.card.air-strike.color-04237b {
    background-position: -480px 0px;
}
.card.hill {
    background-position: -560px 0px;
}
.card.red-solid {
    background-position: -640px 0px;
}
.card.white-dashed {
    background-position: -720px 0px;
}
.card.artillery.color-3b550c {
    background-position: 0px -112px;
}
.card.heavy-weapons.color-3b550c {
    background-position: -80px -112px;
}
.card.infantry.color-3b550c {
    background-position: -160px -112px;
}
.card.paratroopers.color-3b550c {
    background-position: -240px -112px;
}
.card.special-forces.color-3b550c {
    background-position: -320px -112px;
}
.card.tank.color-3b550c {
    background-position: -400px -112px;
}
.card.air-strike.color-3b550c {
    background-position: -480px -112px;
}
.card.back {
    background-position: -560px -112px;
}
.card.red-dashed {
    background-position: -640px -112px;
}

/* Tooltip Cards */
.tooltip-card {
    width: 160px;
    height: 224px;
    background-image: url(img/cards.png);
    background-size: 1600px 472px;
    background-position: 160px 224px;
    background-repeat: no-repeat;
}
.tooltip-card.artillery.color-04237b {
    background-position: 0px 0px;
}
.tooltip-card.heavy-weapons.color-04237b {
    background-position: -160px 0px;
}
.tooltip-card.infantry.color-04237b {
    background-position: -320px 0px;
}
.tooltip-card.paratroopers.color-04237b {
    background-position: -480px 0px;
}
.tooltip-card.special-forces.color-04237b {
    background-position: -640px 0px;
}
.tooltip-card.tank.color-04237b {
    background-position: -800px 0px;
}
.tooltip-card.air-strike.color-04237b {
    background-position: -960px 0px;
}
.tooltip-card.hill {
    background-position: -1120px 0px;
}
.tooltip-card.red-solid {
    background-position: -1280px 0px;
}
.tooltip-card.white-dashed {
    background-position: -1440px 0px;
}
.tooltip-card.artillery.color-3b550c {
    background-position: 0px -224px;
}
.tooltip-card.heavy-weapons.color-3b550c {
    background-position: -160px -224px;
}
.tooltip-card.infantry.color-3b550c {
    background-position: -320px -224px;
}
.tooltip-card.paratroopers.color-3b550c {
    background-position: -480px -224px;
}
.tooltip-card.special-forces.color-3b550c {
    background-position: -640px -224px;
}
.tooltip-card.tank.color-3b550c {
    background-position: -800px -224px;
}
.tooltip-card.air-strike.color-3b550c {
    background-position: -960px -224px;
}
.tooltip-card.back {
    background-position: -1120px -224px;
}
.tooltip-card.red-dashed {
    background-position: -1280px -224px;
}